.pos {
  padding-top: 2.5cm;
  padding-left: 3cm;
  padding-right: 3cm;
}

.aler {
  margin-top: 1.5cm;
  margin-left: 15cm;
  margin-right: 15cm;
}

.tab {
  margin-left: 15cm;
  margin-right: 15cm;
}

.deleteqcm {
  margin-top: 2.5cm;
  margin-left: 15cm;
  margin-right: 15cm;
}

form {
  padding-top: 5px;
  padding-bottom: 4px;
}
