*.iml
.gradle
/.idea
/android/ecoLogic/.idea
/android/ecoLogic/*.iml
/android/ecoLogic/*.properties
/android/ecoLogic/gradlew
/android/ecoLogic/*.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
